:root{
    --darkbg: #1F2937;
    --hdmaintext: #F9FAF8;
    --hdscndtext: #E5E7EB;
    --hdlogotext: #F9FAF8;
    --buttonbanner: #3882F6;
    --infohd: #1F2937;
    --quotebkgrnd: #E5E7EB;
    --quotetext: #1F2937;
}

